<aside id="logo-sidebar"
       class="fixed top-0 left-0 z-40 w-64 h-screen pt-20 transition-transform -translate-x-full bg-white border-r border-gray-200 sm:translate-x-0 dark:bg-gray-800 dark:border-gray-700"
       aria-label="Sidebar">
  <div class="h-full px-3 pb-4 overflow-y-auto bg-white dark:bg-gray-800">
    <ul class="space-y-2 font-medium">
      <li>
        <a href="{% url 'dashboard' %}"
           class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
          <svg class="w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
               aria-hidden="true"
               xmlns="http://www.w3.org/2000/svg"
               fill="currentColor"
               viewBox="0 0 22 21">
            <path d="M16.975 11H10V4.025a1 1 0 0 0-1.066-.998 8.5 8.5 0 1 0 9.039 9.039.999.999 0 0 0-1-1.066h.002Z" />
            <path d="M12.5 0c-.157 0-.311.01-.565.027A1 1 0 0 0 11 1.02V10h8.975a1 1 0 0 0 1-.935c.013-.188.028-.374.028-.565A8.51 8.51 0 0 0 12.5 0Z" />
          </svg>
          <span class="ms-3">ໜ້າເເດສບອດ</span>
        </a>
      </li>
      {% comment %} <li>
        <button type="button" class="flex items-center w-full p-2 text-base text-gray-900 transition duration-75 rounded-lg group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700" aria-controls="dropdown-example" data-collapse-toggle="dropdown-example">
          <svg class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 group-hover:text-gray-900 dark:text-gray-400 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 21">
            <path d="M15 12a1 1 0 0 0 .962-.726l2-7A1 1 0 0 0 17 3H3.77L3.175.745A1 1 0 0 0 2.208 0H1a1 1 0 0 0 0 2h.438l.6 2.255v.019l2 7 .746 2.986A3 3 0 1 0 9 17a2.966 2.966 0 0 0-.184-1h2.368c-.118.32-.18.659-.184 1a3 3 0 1 0 3-3H6.78l-.5-2H15Z" />
          </svg>
          <span class="flex-1 ms-3 text-left rtl:text-right whitespace-nowrap">E-commerce</span>
          <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4" />
          </svg>
        </button>
        <ul id="dropdown-example" class="hidden py-2 space-y-2">
          <li>
            <a href="#" class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">Products</a>
          </li>
          <li>
            <a href="#" class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">Billing</a>
          </li>
          <li>
            <a href="#" class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">Invoice</a>
          </li>
        </ul>
      </li> {% endcomment %}
      <li>
        <a href="{% url 'manage-users' %}"
           class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
          <svg class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
               aria-hidden="true"
               xmlns="http://www.w3.org/2000/svg"
               fill="currentColor"
               viewBox="0 0 20 18">
            <path d="M14 2a3.963 3.963 0 0 0-1.4.267 6.439 6.439 0 0 1-1.331 6.638A4 4 0 1 0 14 2Zm1 9h-1.264A6.957 6.957 0 0 1 15 15v2a2.97 2.97 0 0 1-.184 1H19a1 1 0 0 0 1-1v-1a5.006 5.006 0 0 0-5-5ZM6.5 9a4.5 4.5 0 1 0 0-9 4.5 4.5 0 0 0 0 9ZM8 10H5a5.006 5.006 0 0 0-5 5v2a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-2a5.006 5.006 0 0 0-5-5Z" />
          </svg>
          <span class="flex-1 ms-3 whitespace-nowrap">ຈັດການຂໍ້ມູນຜູ້ໃຊ້</span>
        </a>
      </li>
      <li>
        <a href="{% url 'manage-employees' %}"
           class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
          <svg class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
               aria-hidden="true"
               xmlns="http://www.w3.org/2000/svg"
               fill="currentColor"
               viewBox="0 0 20 20">
            <path fill-rule="evenodd" d="M5.5 3A2.5 2.5 0 003 5.5v2.55a1.5 1.5 0 000 2.9V14.5A2.5 2.5 0 005.5 17h9a2.5 2.5 0 002.5-2.5V10.95a1.5 1.5 0 000-2.9V5.5A2.5 2.5 0 0014.5 3h-9zM4.5 8.05V5.5A1 1 0 015.5 4.5h9a1 1 0 011 1v2.55a.5.5 0 01-1 0V5.5a.5.5 0 00-.5-.5h-8a.5.5 0 00-.5.5v2.55a.5.5 0 01-1 0zm1 4.4V14.5a1 1 0 001 1h9a1 1 0 001-1v-2.05a.5.5 0 011 0V14.5A2 2 0 0114.5 16.5h-9A2 2 0 013.5 14.5v-2.05a.5.5 0 011 0zM7 10.5a1 1 0 011-1h4a1 1 0 110 2H8a1 1 0 01-1-1z" clip-rule="evenodd" />
          </svg>
          <span class="flex-1 ms-3 whitespace-nowrap">ຈັດການຂໍ້ມູນພະນັກງານ</span>
        </a>
      </li>
      <li>
        <a href="{% url 'manage-customers' %}"
           class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
          <svg class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
               aria-hidden="true"
               xmlns="http://www.w3.org/2000/svg"
               fill="currentColor"
               viewBox="0 0 20 20">
            <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd" />
          </svg>
          <span class="flex-1 ms-3 whitespace-nowrap">ຈັດການຂໍ້ມູນລູກຄ້າ</span>
        </a>
      </li>
      <li>
        <a href="{% url 'manage-rental-item-types' %}"
           class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
          <svg class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
               aria-hidden="true"
               xmlns="http://www.w3.org/2000/svg"
               fill="currentColor"
               viewBox="0 0 20 20">
            <path fill-rule="evenodd" d="M2.5 3A1.5 1.5 0 001 4.5v11A1.5 1.5 0 002.5 17h15a1.5 1.5 0 001.5-1.5v-11A1.5 1.5 0 0017.5 3h-15zM2 4.5A2.5 2.5 0 014.5 2h11A2.5 2.5 0 0118 4.5v11a2.5 2.5 0 01-2.5 2.5h-11A2.5 2.5 0 012 15.5v-11zM5.75 7a.75.75 0 000 1.5h8.5a.75.75 0 000-1.5h-8.5zM6 10.75A.75.75 0 016.75 10h5.5a.75.75 0 010 1.5h-5.5A.75.75 0 016 10.75z" clip-rule="evenodd" />
          </svg>
          <span class="flex-1 ms-3 whitespace-nowrap">ຈັດການຂໍ້ມູນປະເພດລາຍການໃຫ້ເຊົ່າ</span>
        </a>
      </li>
      <li>
        <a href="{% url 'manage-rental-items' %}"
           class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
          <svg class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
               aria-hidden="true"
               xmlns="http://www.w3.org/2000/svg"
               fill="currentColor"
               viewBox="0 0 20 20">
            <path fill-rule="evenodd" d="M2.25 3A.75.75 0 001.5 3.75v1.5A.75.75 0 002.25 6h15.5A.75.75 0 0018.5 5.25v-1.5A.75.75 0 0017.75 3H2.25zM1.5 7.5A.75.75 0 00.75 8.25v8A.75.75 0 001.5 17h17a.75.75 0 00.75-.75v-8A.75.75 0 0018.5 7.5H1.5zm8.75 3.75a.75.75 0 01.75-.75h2a.75.75 0 010 1.5h-2a.75.75 0 01-.75-.75z" clip-rule="evenodd" />
          </svg>
          <span class="flex-1 ms-3 whitespace-nowrap">ຈັດການຂໍ້ມູນລາຍການໃຫ້ເຊົ່າ</span>
        </a>
      </li>
      <li>
        <a href="{% url 'manage-item-sets' %}"
           class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group {% if request.resolver_match.url_name == 'manage-item-sets' %}bg-gray-100 dark:bg-gray-700{% endif %}">
          {# Add an appropriate SVG icon here #}
          <svg class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
               aria-hidden="true"
               xmlns="http://www.w3.org/2000/svg"
               fill="currentColor"
               viewBox="0 0 18 20">
            <path d="M17 5.923A1 1 0 0 0 16 5h-3V4a4 4 0 1 0-8 0v1H2a1 1 0 0 0-1 .923L.48 17.638A2 2 0 0 0 2.42 20h13.16a2 2 0 0 0 1.94-2.362L17 5.923ZM7 9a1 1 0 0 1-2 0V7h2v2Zm0-5a2 2 0 1 1 4 0v1H7V4Zm6 5a1 1 0 1 1-2 0V7h2v2Z" />
          </svg>
          <span class="flex-1 ms-3 whitespace-nowrap">ຈັດການຂໍ້ມູນເປັນເຊັດ</span>
        </a>
      </li>
      {% comment %} <li>
        <a href="{% url 'manage-accessories' %}"
           class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
          <svg class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
               aria-hidden="true"
               xmlns="http://www.w3.org/2000/svg"
               fill="currentColor"
               viewBox="0 0 20 20">
            <path fill-rule="evenodd" d="M10 3a.75.75 0 01.75.75V5.25h1.5a.75.75 0 01.75.75v1.5h1.5a.75.75 0 01.75.75v1.5a.75.75 0 01-.75.75h-1.5v1.5a.75.75 0 01-.75.75H10.75v1.5a.75.75 0 01-.75.75H9.25a.75.75 0 01-.75-.75V13.5H7a.75.75 0 01-.75-.75V11.25H4.75a.75.75 0 01-.75-.75V9a.75.75 0 01.75-.75H6.25V6.75a.75.75 0 01.75-.75H8.5V4.5a.75.75 0 01.75-.75H10zm0-1.5A2.25 2.25 0 007.75 3.75V5H6.25A2.25 2.25 0 004 7.25V9H2.75a.75.75 0 000 1.5H4v1.75A2.25 2.25 0 006.25 14.5H7.75V16a2.25 2.25 0 002.25 2.25h1.5A2.25 2.25 0 0013.75 16v-1.5h1.5A2.25 2.25 0 0017.5 12.25V10.5h1.5a.75.75 0 000-1.5H17.5V7.25A2.25 2.25 0 0015.25 5H13.75V3.75A2.25 2.25 0 0011.5 1.5H10z" clip-rule="evenodd" />
          </svg>
          <span class="flex-1 ms-3 whitespace-nowrap">ຈັດການຂໍ້ມູນອຸປະກອນ</span>
        </a>
      </li> {% endcomment %}
      <li>
        <a href="{% url 'manage_rental_approvals' %}"
           class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group {% if request.resolver_match.url_name == 'manage_rental_approvals' %}bg-gray-100 dark:bg-gray-700{% endif %}">
          <svg class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
               aria-hidden="true"
               xmlns="http://www.w3.org/2000/svg"
               fill="currentColor"
               viewBox="0 0 20 20">
            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z" />
          </svg>
          <span class="flex-1 ms-3 whitespace-nowrap">ການອະນຸມັດໃຫ້ເຊົ່າ</span>
          {# Optional: Add a badge for pending count later #}
        </a>
      </li>
      <li>
        <a href="{% url 'manage_returns' %}"
           class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group {% if request.resolver_match.url_name == 'manage_returns' %}bg-gray-100 dark:bg-gray-700{% endif %}">
          <svg class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path d="M11.074 4 8.442.359A.999.999 0 0 0 7.078 0H4.201a.998.998 0 0 0-.992.992V2H0V4h3.002v10h11.996V4h3V2h-1.171A.993.993 0 0 0 15.543 0h-2.855a.999.999 0 0 0-.791.359L11.074 4ZM5.002 2h1.021L9 5.979 11.979 2h1.021V4h-1.021L9 7.979 6.021 4H5.002V2Zm10.996 10H4.002V6h11.996v6Z"/>
            <path d="M13.002 16h-1.996V9h1.996v7Z"/>
            <path d="M9.002 16H7.006V9h1.996v7Z"/>
          </svg>
          <span class="flex-1 ms-3 whitespace-nowrap">ຈັດການສົ່ງຄືນ</span>
        </a>
      </li>
      <li>
        <a href="{% url 'manage_rental_transactions' %}"
           class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group {% if request.resolver_match.url_name == 'manage_rental_transactions' %}bg-gray-100 dark:bg-gray-700{% endif %}">
          <svg class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
               aria-hidden="true"
               xmlns="http://www.w3.org/2000/svg"
               fill="currentColor"
               viewBox="0 0 20 20">
            <path d="M17 0h-2a2 2 0 0 0-2-2H7a2 2 0 0 0-2 2H3a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2Zm-3 14H6V9h8v5Zm0-7H6V5h8v2Z" />
          </svg>
          <span class="flex-1 ms-3 whitespace-nowrap">ທຸລະກຳທັງໝົດ</span>
        </a>
      </li>
      <li>
        <a href="{% url 'revenue_report' %}"
           class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group {% if request.resolver_match.url_name == 'revenue_report' %}bg-gray-100 dark:bg-gray-700{% endif %}">
          <svg class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path d="M11.074 4 8.442.359A.999.999 0 0 0 7.078 0H4.201a.998.998 0 0 0-.992.992V2H0V4h3.002v10h11.996V4h3V2h-1.171A.993.993 0 0 0 15.543 0h-2.855a.999.999 0 0 0-.791.359L11.074 4ZM5.002 2h1.021L9 5.979 11.979 2h1.021V4h-1.021L9 7.979 6.021 4H5.002V2Zm10.996 10H4.002V6h11.996v6Z"/>
            <path d="M13.002 16h-1.996V9h1.996v7Z"/>
            <path d="M9.002 16H7.006V9h1.996v7Z"/>
          </svg>
          <span class="flex-1 ms-3 whitespace-nowrap">ລາຍງານລາຍຮັບ</span>
        </a>
      </li>
      {% comment %} <li>
        <a href="{% url 'manage-products' %}" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
          <svg class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 20">
            <path d="M17 5.923A1 1 0 0 0 16 5h-3V4a4 4 0 1 0-8 0v1H2a1 1 0 0 0-1 .923L.086 17.846A2 2 0 0 0 2.08 20h13.84a2 2 0 0 0 1.994-2.153L17 5.923ZM7 9a1 1 0 0 1-2 0V7h2v2Zm0-5a2 2 0 1 1 4 0v1H7V4Zm6 5a1 1 0 1 1-2 0V7h2v2Z" />
          </svg>
          <span class="flex-1 ms-3 whitespace-nowrap">Products</span>
        </a>
      </li> {% endcomment %}
      {% comment %} <li>
        <a href="{% url 'login' %}" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
          <svg class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 16">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 8h11m0 0L8 4m4 4-4 4m4-11h3a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-3" />
          </svg>
          <span class="flex-1 ms-3 whitespace-nowrap">Sign In</span>
        </a>
      </li> {% endcomment %}
    </ul>
  </div>
</aside>
